# Set product key

In [3]:
import graphlab
graphlab.product_key.set_product_key('B44B-BB85-D851-C43C-247B-CFE4-6683-C8A8')

# output active product key
graphlab.product_key.get_product_key()

'B44B-BB85-D851-C43C-247B-CFE4-6683-C8A8'

# Load data and print it out

In [9]:
sales = graphlab.SFrame('home_data.gl')
sales

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# With homes in NW Bellevue only, split data to training and test data

In [38]:
nwbellevue = sales[sales['zipcode']=='98004']
nwbellevue

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 3394100030 | 2014-09-09 00:00:00+00:00 |  975000 |    4     |    2.5    |     2720    |
| 1802000060 | 2014-06-12 00:00:00+00:00 | 1325000 |    5     |    2.25   |     3200    |
| 2450000295 | 2014-10-07 00:00:00+00:00 | 1088000 |    3     |    2.5    |     2920    |
| 4389200955 | 2015-03-02 00:00:00+00:00 | 1450000 |    4     |    2.75   |     2750    |
| 7960900060 | 2015-05-04 00:00:00+00:00 | 2900000 |    4     |    3.25   |     5050    |
| 1653500070 | 2014-05-12 00:00:00+00:00 |  927000 |    4     |    2.75   |     3300    |
| 9808650060 | 2015-02-25 00:00:00+00:00 | 1300000 |    3     |     2     |     2350    |
| 4348800030 | 2014-11-21 00:00:00+00:00 |  727500 |    2     |     2     |     1240    |
| 0708000030 | 2014-09-02 00:00:00+00:00 |  888000 |    3     |    1.5    |     1250    |
| 6664000030 | 2014-10-09 00:00:00+00:00 |  980000 |    4     |    2.25   |     2240    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|  11049   |   2    |     0      |  0   |     3     |   10  |    2720    |       0       |
|  20158   |   1    |     0      |  0   |     3     |   8   |    1600    |      1600     |
|   8113   |   2    |     0      |  0   |     3     |   8   |    2920    |       0       |
|  17789   |  1.5   |     0      |  0   |     3     |   8   |    1980    |      770      |
|  20100   |  1.5   |     0      |  2   |     3     |   11  |    4750    |      300      |
|  12090   |   2    |     0      |  0   |     3     |   8   |    3300    |       0       |
|  15021   |   1    |     0      |  0   |     4     |   8   |    1770    |      580      |
|   9119   |   1    |     0      |  0   |     4     |   7   |    1240    |       0       |
|   8710   |   1    |     0      |  0   |     4     |   7   |    1250    |       0       |
|  11034   |   2    |     0      |  0   |     3     |   8   |    2240    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1989   |      0       |  98004  | 47.58148717 | -122.19160369 |     2750.0    | ... |
|   1965   |      0       |  98004  |  47.6302877 | -122.21465535 |     3390.0    | ... |
|   1950   |     2010     |  98004  | 47.58137084 | -122.19615916 |     2370.0    | ... |
|   1914   |     1992     |  98004  | 47.61406372 | -122.21195171 |     3060.0    | ... |
|   1982   |     2008     |  98004  | 47.63123583 | -122.22274968 |     3890.0    | ... |
|   1953   |      0       |  98004  | 47.62942085 |  -122.2181403 |     3180.0    | ... |
|   1976   |      0       |  98004  |  47.6408317 | -122.21924605 |     3530.0    | ... |
|   1952   |      0       |  98004  | 47.62213111 | -122.19258372 |     1380.0    | ... |
|   1953   |      0       |  98004  | 47.62449541 | -122.19793262 |     1750.0    | ... |
|   1976   |      0       |  98004  | 47.58940961 | -122.19467297 |     2300.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

# Q1: Print mean prices for NW Bellevue houses

In [40]:
print nwbellevue['price'].mean()

1355927.09779

# Filter data so that houses sqft_living > 2000 && <= 4000

In [80]:
my_filtered_data = nwbellevue[(nwbellevue['sqft_living'] > 2000) & (nwbellevue['sqft_living'] <= 4000)]

# Q2 Fraction of filtered data to n

In [81]:
filteredCount = my_filtered_data.num_rows()
n = sales.num_rows()

print  float(filteredCount)/float(n) * 100

0.754175727571

# Set new features

In [101]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house
'grade', # measure of quality of construction
'waterfront', # waterfront property
'view', # type of view
'sqft_above', # square feet above ground
'sqft_basement', # square feet in basement
'yr_built', # the year built
'yr_renovated', # the year renovated
'lat', 'long', # the lat-long of the parcel
'sqft_living15', # average sq.ft. of 15 nearest neighbors
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

# Split data to test and training sets @ 80/20 ratio

In [88]:
train_data,test_data = sales.random_split(.8,seed=0)

# Build regression model

In [113]:
my_model = graphlab.linear_regression.create(train_data, target='price',features=my_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.029434     | 3763208.270524     | 181908.848367 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [114]:
advanced_model = graphlab.linear_regression.create(train_data, target='price',features=advanced_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.077226     | 3469012.450487     | 154580.940732 |

| 2         | 3        | 0.131363     | 3469012.450673     | 154580.940735 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

# Evaluate the models

In [117]:
print my_model.evaluate(test_data)
print advanced_model.evaluate(test_data)

{'max_error': 3486584.5093818563, 'rmse': 179542.4333126908}
{'max_error': 3556849.4138490623, 'rmse': 156831.11680200786}

# Get weights

In [118]:
print my_model.get('coefficients')
print advanced_model.get('coefficients')

+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -88006.8416466 | 13167.1778025 |
|   bedrooms  |   2   | 21165.5766369  |  4892.4148316 |
|   bedrooms  |   4   | -41706.3113919 | 3600.23032619 |
|   bedrooms  |   5   | -92815.3727611 |  6185.8669821 |
|   bedrooms  |   1   | 45824.7402238  | 15487.2986256 |
|   bedrooms  |   6   | -179627.840979 | 13060.1531948 |
|   bedrooms  |   7   | -370367.546312 | 33894.1528762 |
|   bedrooms  |   8   | -343106.520191 | 56609.2407592 |
|   bedrooms  |   0   | -13095.4952099 | 70106.1085644 |
|   bedrooms  |   9   | -432903.521695 | 82975.5547771 |
+-------------+-------+----------------+---------------+
[115 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -3160274.09239 | 6640948.07557 |
|   bedrooms  |   2   |  4819.2811543  | 4170.21280234 |
|   bedrooms  |   4   | -20437.4393442 | 3091.13808951 |
|   bedrooms  |   5   | -39902.3822809 | 5338.25127498 |
|   bedrooms  |   1   | 27125.2721738  | 13205.0296493 |
|   bedrooms  |   6   | -88041.2081153 | 11232.9342999 |
|   bedrooms  |   7   | -238107.546434 | 28896.6217506 |
|   bedrooms  |   8   | -147384.613196 | 48255.6362878 |
|   bedrooms  |   0   | 39059.8952837  |  59641.073048 |
|   bedrooms  |   9   | -227130.809964 | 70682.1770304 |
+-------------+-------+----------------+---------------+
[127 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Q3: RMSE

In [124]:
print 'my_model_rmse = 179542.4333126908'

my_model_rmse = 179542.4333126908

In [126]:
print 'advanced_model_rmse = 156831.11680200786'

advanced_model_rmse = 156831.11680200786